<!DOCTYPE html> 
<html lang="ru"> 
  {% extends 'base.html' %}
  <body>	   
    <header>
    </header>
    <main>
      {% block content %}
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-body">        
                <form method="post" enctype="multipart/form-data">
                  <input type="hidden" name="csrfmiddlewaretoken" value="">            
                  <div class="form-group row my-3 p-3">
                    <label for="id_text">
                      {% csrf_token %}
                      {% for field in form %} 
                      <div class="form-group row my-3">
                        <label for="{{ field.id_for_label }}">
                          {{ field.help_text|safe }}
                            {% if field.field.required %}
                              <span class="required text-danger">*</span>
                            {% endif %}
                        </label>
                        {{ field }} 
                          {% if field.help_text %}
                            <small 
                               id="{{ field.id_for_label }}-help"
                               class="form-text text-muted"
                            >
                            </small>
                          {% endif %}
                      </div>
                    {% endfor %}
                      
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-secondary">
                      Сохранить
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
    </main>
  </body>
</html>
