<!DOCTYPE html> 
<html lang="ru"> 
  <head>    
    {% extends 'base.html' %}
    {% load thumbnail %}
  </head>
  {% block content %}
<body>
    <main>
        <div class="container py-5">
            <h2>Профайл пользователя {{ author.username }}<br><br>
              <a class="btn btn-outline-secondary" href="{% url 'book:user_rent' user.username %}"><span>Арендованные книги</span></a>
            </h2>
        </div>
        <div class="container py-1">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for book in books %}
                {% include 'books/includes/test.html' %}
                  {% if not forloop.last %}{% endif %}
                {% endfor %}
            </div>
        </div>
    </main>
</body>
{% endblock %}
</html>
