<!DOCTYPE html> 
<html lang="ru"> 
  <head>    
    {% extends 'base.html' %}
    {% load thumbnail %}
  </head>
  {% block content %}
<body>
    <main>
        <div class="container py-5">
            <h2>Арендованные книги пользователя {{ author.username }}</h2>
            <a class="nav-link link-light" href="{% url 'book:book_rent_agree' user.username %}"><span style="color:black">Запросы на аренду</span></a>
        </div>
        <p><p>
        <div class="container py-1">
            <div class="row row-cols-3 row-cols-sm-3 row-cols-md-3">
                {% for rent in rents %}
                {% include 'books/includes/test_rent.html' %}
                  {% if not forloop.last %}{% endif %}
                {% endfor %}
            </div>
        </div>
    </main>
</body>
{% endblock %}
</html>
