<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book.title }} - Обмен Книгами</title>
</head>
<body>
    <header>
        <h1>Обмен Книгами</h1>
        <nav>
            <ul>
                <li><a>Главная</a></li>
                <li><a>Добавить Книгу</a></li>
                <li><a>Мои Книги</a></li>
                <li><a>Контакты</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="book-details">
            <h2>{{ book.name }}</h2>
            <p><strong>Описание:</strong> {{ book.description }}</p>
                {% csrf_token %}
                <button type="submit">Запросить обмен</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Школьный Сайт. Все права защищены.</p>
    </footer>
</body>
</html>
