{% load thumbnail %}
<article>
  <ul>
    {% if post.group %}   
    <li>
    Группа: 
    <a href="{% url 'posts:group_list' post.group.slug %}" style="text-decoration: none; color:black">{{ post.group }}</a>
    </li>
    {% endif %}
    <li>
      Автор: 
      <a href="{% url 'posts:profile' post.author %}" style="text-decoration: none; color:black">{{ post.author }} </a>
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
    
  </ul>
  {% thumbnail post.image "900x400" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %}
  <p>{{ post.text }}</p>
  <a href="{% url 'posts:post_detail' post.pk %}"style="text-decoration: none; color:black">подробная информация </a>
</article>