<!DOCTYPE html> 
<html lang="ru"> 
  <head>    
    {% extends 'base.html' %}
    {% load thumbnail %}
    {% block title %}
    Страница группы {{ group.title }}
    {% endblock %}
  </head>
    <main>
      {% block content %}
      <div class="container py-5">        
        <h1>{{ group.title }}</h1>
        <p>{{ group.description }}</p>
        {% for post in page_obj %}
    <div class="container py-5">        
        {% for post in page_obj %}
        {% include 'posts/includes/post_list.html' %}
          {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
        {% endfor %}
      {% endblock %} 
    </div>
  </main>